.forms-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1.5em;
}

.form__header {
  height: 70px;
  width: 100%;
  background-color: fuchsia;
  border-radius: 4px;
  color: #130202;
  box-shadow: 13px 17px 12px rgba(0, 0, 0, 0.05);
  padding: 2em;
  margin-bottom: 20px;
  margin-top: 3em;

  text-align: center;
}
