.card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 12px 14px 0 rgba(51, 78, 99, 0.302),
    0 12px 15px 2px rgba(42, 69, 90, 0.149);
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(233, 2, 233);
  width: 35%;
  padding: 2em;
  margin: 2rem;

  border-radius: 5px;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__button {
  background-color: fuchsia;
  width: 20px;
  border-radius: 4px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.5em 1em;
}

.delete__button {
  background-color: #2b021a;
  width: 20px;
  border-radius: 4px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.5em 1em;
}
