.App {
  font-family: "Poppins", sans-serif;
  background-color: rgb(236, 192, 228);
  text-align: center;
  margin: 4em;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}
